---
import Layout from '../layouts/Layout.astro';
import Proyectos from '../components/Proyectos.astro';
import Skills from '../components/Skills.astro';
import Navbar from '../components/Navbar.jsx';
import MealProject from '../components/MealProject.astro';
import SobreMi from '../components/SobreMi.astro';
import ImgSobreMi from '../components/ImgSobreMi.astro';
import ShortLink from '../components/ShortLink.astro';
---

<Layout title="Edgardo Silva Web">
  <Navbar client:load />
  <section class="flex items-center justify-center flex-col">
    <section class="w-full flex flex-col"  id="inicio">
      <article class=" md:mt-20 h-[600px] flex flex-col justify-center items-center">
        <article class=" flex flex-col items-center h-[380px] md:h-[450px] justify-between p-5">
          <h1 class="text-[5rem] md:text-[6rem] lg:text-[8rem] text-center font-bold bg-gradient-to-r from-[#ffc456] via-blue-500 to-green-400 text-transparent bg-clip-text bg-300% animate-gradient">
            {'Edgardo Silva'}
          </h1>
          <h2 class="text-4xl md:text-6xl lg:text-[5xl] text-[#c4cf5c] text-center ">Web Developer</h2>
          <a href="Edgardo Silva - CV.pdf" download="Edgardo Silva Web Developer - CV.pdf">
            <button class="mt-8  bg-cyan-800 text-slate-300 w-fit rounded-xl text-xl font-bold p-5 lg:text-2xl hover:text-white hover:bg-cyan-500 hover:shadow-[0px_0px_60px_40px_rgba(4,_140,_185,_0.9)] transition duration-200 ease-in-out">Descargar CV</button>
          </a>
        </article>
      </article>
    </section>
    <section class="bg-from-[#212131] to-transparent p-8 md:p-0 lg:w-full lg:flex lg:items-center lg:justify-center ">
      <section class="md:max-w-[640px] lg:h-screen lg:flex lg:flex-col lg:mt-10 lg:max-w-[1200px] ">
        <article class=" lg:flex sm:items-center xl:items-end lg:justify-center mb-36">
          <article class="lg:w-[1100px] m-3">
            <SobreMi />
          </article>
          <article class="lg:m-2 lg:w-1/3 mt-20 ">
            <ImgSobreMi />
          </article>
        </article>
        <article>
          <h1 class="text-[#ffc456] lg:font-bold text-4xl font-bold mb-10 m-3" id="proyectos">Proyectos</h1>
        </article>

        <article class="lg:flex lg:items-center lg:justify-center">
          <article class="lg:w-1/3 lg:m-3 hidden lg:block">
            <Skills 
              t1 = 'nodejgLogo.jpg'
              t2 = 'expressLogo2.png'
              t3 = 'reactLogo.png'
              t4 = 'mysqlLogo2.jpg'
            />
          </article>
          <article class="lg:w-2/3 lg:m-3">
            <ShortLink />
          </article>
        </article>

        <article class="lg:flex lg:items-center lg:justify-center">
          <article class="lg:w-2/3 lg:m-3">
            <MealProject />
          </article>
          <article class="lg:w-1/3 lg:m-3 hidden lg:block">
            <Skills 
              t1 = 'tailwindLogo.jpg'
              t2 = 'jsLogo.png'
              t3 = 'htmlLogo.png'
              t4 = 'reactLogo.png'
            />
          </article>
        </article>

        <article class="lg:flex lg:items-center">
          <article class="lg:w-1/3 lg:m-3 hidden lg:block">
            <Skills 
              t1 = 'reactLogo.png'
              t2 = 'cssLogo.png'
              t3 = 'jsLogo.png'
              t4 = 'firebaseLogo.png'
            />
          </article>
          <article class="lg:w-2/3 lg:m-3">
            <Proyectos />
          </article>
        </article>
        <footer>
          <section class=" text-white mt-40 backdrop-blur-lg p-5 flex justify-center items-center">
            <p class="text-center">© 2024 Edgardo Silva</p>
          </section>
        </footer>
      </section>
    </section>
  </section>
</Layout>
