---
import Layout from '../layouts/Layout.astro';
import Proyectos from '../components/Proyectos.astro';
import Skills from '../components/Skills.astro';
import Contacto from '../components/Contacto.astro';
import Navbar from '../components/Navbar.jsx';
import MealProject from '../components/MealProject.astro';
---

<Layout title="Welcome to Astro.">
  <Navbar client:load />
  <section class="flex items-center justify-center">
    <article class="w-full flex flex-col">
      <div>
        <div class="relative flex flex-col items-center justify-center mt-[75px]">
          <img src="avatarAI.png" alt="Descripción de la imagen" class="w-full">
          <div class="absolute inset-x-0 top-0 h-16 bg-gradient-to-b from-black to-transparent"></div>
          <div class="absolute inset-x-0 bottom-0 h-28 bg-gradient-to-t from-black to-transparent"></div>
        </div>
        <div class="absolute w-full h-[100px] flex flex-col items-center pl-5 pr-5 pb-5 mt-[-35px]">
          <h1 class=" text-cyan-300 text-[2.8rem] font-bold leading-tight text-center">{'<Edgardo Silva />'}</h1>
          <h3 class="text-cyan-400 text-[1.3rem] text-center mt-1">Front-end Developer</h3>
        </div>
        <div class="flex flex-col mt-[80px] items-center justify-between h-[140px] p-3">
          <h3 class="text-slate-300 text-[1.1rem] text-center">Transformando ideas en experiencias digitales únicas e interactivas</h3>
          <button class=" bg-cyan-800 text-slate-300 w-[220px] rounded-md text-xl font-bold p-1">Descargar CV</button>
        </div>
      </div>
      <article class="m-4">
        <Proyectos height="500" title="Proyectos"/>
        <MealProject />
        <Skills title="Skills"/>
        <Contacto title="Contacto"/>
      </article>
    </article>
  </section>
</Layout>


../components/Navbar.jsx