---
import Slider from "./Slider";
import Tags from "./Tags.astro";

const { name, title } = Astro.props;
---

<section class={`relative bg-white bg-opacity-5 lg:h-[370px] lg:mt-0 lg:p-0 lg:overflow-hidden p-3 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] flex flex-col justify-center w-full rounded-3xl mt-5`}>
  <section class="p-5 lg:p-0">
    <section class="flex flex-col items-center justify-center lg:flex-row">
      <article>
        <h1 class=" lg:hidden text-cyan-600 font-bold text-2xl mb-3">MeetHub</h1>
      </article>
      <section class="lg:m-5 xl:m-8">
        <article class="lg:w-[280px] xl:w-[300px] xl:h-[300px] rounded-xl ml-2">
          <Slider img1={'mithubMainPage.jpg'}/>
        </article>
        <article class="flex flex-wrap justify-evenly lg:hidden">
          <Tags name = 'HTML' logo = 'htmlLogo.png'/>
          <Tags name = 'CSS' logo = 'cssLogo.png'/>
          <Tags name = 'JavaScript' logo = 'jsLogo.png'/>
          <Tags name = 'ReactJS' logo = 'reactLogo.png'/>
          <Tags name = 'Tailwind' logo = 'tailwindLogo.jpg'/>
        </article>
      </section>
      <section>
        <article class="lg:scale-95 lg:mt-0 lg:flex lg:flex-col lg:justify-center">
          <h1 class=" hidden lg:block bg-gradient-to-r from-[#ffc456] to-[#36bed6] bg-clip-text tracking-tight text-transparent lg:font-bold lg:text-2xl lg:text-left">Colaborativo: MeetHub</h1>
          <p class=" text-slate-300 mt-5 mr-5">
            MeetHub es una página web donde puedes descubrir y organizar eventos. 
            Una vez registrado con tu cuenta Google, puedes crear eventos e invitar 
            a otros usuarios a unirse, puedes ver eventos creados por otros 
            usuarios y marcar tu asistencia a aquellos a los que deseas asistir.
          </p>
          <p class=" text-slate-300 mt-5 mr-5">
            <strong class="text-orange-300">Trabajando en un equipo multidiciplinario :</strong> 
            La actividad organizada por el equipo de <a href="https://www.nocountry.tech/">No-Country</a> y el equipo de desarrollo de MeetHub fue una
            excelente oportunidad para aprender a trabajar en equipo, utilizando
            herramientas como GitHub y Trello.
          </p>
        </article>
        <article class=" lg:bg-white lg:bg-opacity-5 lg:backdrop-blur-2xl lg:w-full lg:h-full justify-evenly flex mt-4 lg:absolute bottom-0 right-0 lg:opacity-0 hover:opacity-100 transition-opacity duration-200">
          <button>
            <a href="https://github.com/No-Country/c16-27-n-node-react" target="_blank" rel="noopener noreferrer" class=" mt-5">
              <img src="githubSvg.svg" alt="earthLogo" class="w-10 lg:w-14 hover:scale-150 transition-transform">
            </a>
          </button>
        </article>
      </section>
    </section>
  </section>
</section>



