---
import Slider from "./Slider";
import Tags from "./Tags.astro";

const { name, height, title } = Astro.props;
---

<section class={`bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-indigo-950 via-gray-900 to-slate-950 lg:h-[370px] lg:mt-0 lg:p-0 lg:overflow-hidden p-3 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] border border-slate-700 flex flex-col justify-between w-full rounded-xl h-[${height}px] mt-5`}>
  <section class=" h-3/4 p-5 flex flex-wrap justify-left lg:p-0">
    <section class="flex flex-col items-center lg:flex-row">
      <article>
        <h1 class=" lg:hidden text-cyan-600 font-bold text-2xl mb-3">Simpsons Quiz App</h1>
      </article>
      <section class="lg:m-8">
        <article class="lg:w-[350px]">
          <Slider img1={'simpsonsProject1.jpg'} img2={'simpsonsProject2.jpg'} img3={'simpsonsProject3.jpg'}/>
        </article>
        <article class="flex flex-wrap justify-evenly">
          <Tags name = 'HTML' logo = 'htmlLogo.png'/>
          <Tags name = 'CSS' logo = 'cssLogo.png'/>
          <Tags name = 'JavaScript' logo = 'jsLogo.png'/>
          <Tags name = 'ReactJS' logo = 'reactLogo.png'/>
          <Tags name = 'Firebase' logo = 'firebaseLogo.png'/>
        </article>
      </section>
      <section>
        <article class="lg:mt-0 lg:flex lg:flex-col lg:justify-center">
          <h1 class=" hidden lg:block text-cyan-600 lg:font-bold lg:text-2xl lg:text-left">Simpsons Quiz App</h1>
          <p class=" text-slate-400 mt-5">Pon a prueba tus conocimientos sobre el icónico 
            programa de televisión de Los Simpson con este divertido cuestionario 
            con puntaje global
          </p>
          <p class="mt-5 text-cyan-400">Desafíos:</p>
          <ul class="text-slate-400 mt-2 list-disc ml-6">
            <li>Inicio de sesión con google auth</li>
            <li>Manejo de estado global de jugador activo</li>
            <li>Manejo de rutas de acceso</li>
            <li>Base de datos en tiempo real con puntajes actualizados</li>
          </ul>
        </article>
        <article class="w-32 justify-around flex mt-8 lg:hidden">
          <button>
            <a href="https://simpsonsquiz-7b196.firebaseapp.com/" target="_blank" rel="noopener noreferrer" class=" mt-5">
              <img src="earthLogo.svg" alt="earthLogo" class="w-10 lg:w-8">
            </a>
          </button>
          <button>
            <a href="https://github.com/Edgardosilva/Simpsons-React-Quiz" target="_blank" rel="noopener noreferrer" class=" mt-5">
              <img src="githubSvg.svg" alt="earthLogo" class="w-10 lg:w-8">
            </a>
          </button>
        </article>
      </section>
    </section>
  </section>
</section>



