---
const { name, height, title } = Astro.props;
---

<section class={`bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-indigo-950 via-gray-900 to-slate-950 lg:h-[370px] lg:mt-0 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] border border-slate-700 flex flex-col w-full rounded-xl h-[${height}px]`}>
  <h1 class="text-cyan-600 font-bold text-2xl mb-3 text-left m-5 ml-14">Skills</h1>
  <article class="flex justify-center items-center">
    <div class="flex flex-col items-center">
      <div class="m-2 border border-gray-700 w-36 h-36 flex items-center justify-center bg-white bg-opacity-5  backdrop-blur-xl shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] rounded-xl">
        <img src="jsLogo.png" class=" w-20 h-20 rounded-xl"/>
      </div>
      <div class="m-2 border border-gray-700 w-[6rem] h-[6rem] flex items-center justify-center bg-white bg-opacity-5  backdrop-blur-xl shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] rounded-xl">
        <img src="tailwindLogo.jpg" class=" w-[3.5rem]  h-[3.5rem] rounded-xl"/>
      </div>
    </div>
    <div class="flex flex-col items-center">
      <div class="m-2 border border-gray-700 w-28 h-28 flex items-center justify-center bg-white bg-opacity-5  backdrop-blur-xl shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] rounded-xl">
        <img src="htmlLogo.png" class=" w-16 h-16 rounded-xl"/>
      </div>
      <div class="m-2 border border-gray-700 w-32 h-32 flex items-center justify-center bg-white bg-opacity-5  backdrop-blur-xl shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] rounded-xl">
        <img src="reactLogo.png" class=" w-16  h-16 rounded-xl"/>
      </div>      
    </div>
  </article>
</section>

