---
const { name, height, title } = Astro.props;
---

<section id="sobremi" class=" mx-auto ">
  <h1 class="text-[#ffc456] lg:font-bold text-4xl font-bold mb-10">Sobre mi</h1>
  <section class="flex items-center">
    <aricle>
      <p class="text-slate-300 text-[18px]"> 
        Mi nombre es Edgardo Silva, Ingeniero en Prevencion de Riesgos Laborales, 
        tras unos años ejerciendo, me pasé al mundo de la programación. Actualmente 
        me encuentro terminando mis estudios como Analista Programador Computacional
      </p>
      <br />
      <p class="text-slate-300 text-[18px]">
        Mi experiencia laboral previa me ha permitido desarrollar habilidades 
        indispensables en este rubro como el trabajo en equipos, la <strong class=" text-orange-300">resolución de problemas</strong>,
        la <strong class="text-orange-300">capacidad de análisis</strong> y la toma de decisiones.
      </p>
      <br />
      <p class="text-slate-300 text-[18px]">
        Si bien no he tenido aún la oportunidad ingresar laboralmente en 
        el área IT, si cuento con <strong class="text-orange-300">experiencia desarrollando aplicaciones web</strong>, 
        y he creado algunos proyectos personales que puedes ver en mi portafolio.
      </p>
    </aricle>
  </section>
</section>



  