---
const { name, height, title } = Astro.props;
---

<section class={`md:max-w-[640px] bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-indigo-950 via-gray-900 to-slate-950 lg:h-[370px] lg:mt-0 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] border border-slate-700 flex flex-col justify-between w-full rounded-xl h-[${height}px] mt-5`}>
  <article class="p-8">
    <h1 class="hidden lg:block text-cyan-600 lg:font-bold lg:text-2xl lg:mb-3 lg:text-left">Sobre mi</h1>
    <p class="text-slate-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sed, ullam obcaecati incidunt ad qui fugit nisi labore ea 
      veniam rem, eius vel hic pariatur numquam voluptate, quis 
      culpa nostrum at.
    </p>
    <br/>
    <p class="text-slate-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sed, ullam obcaecati incidunt ad qui fugit nisi labore ea 
      veniam rem, eius vel hic pariatur numquam voluptate
    </p>
  </article>
</section>



  