---
const { name, height, title } = Astro.props;
---

<section class={`p-3 md:max-w-[640px] bg-[#0e1d2c] lg:h-[370px] lg:mt-0 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] flex flex-col items-center  justify-center w-full rounded-3xl mt-5`}>
  <article class="lg:scale-95 lg:mt-0 lg:flex lg:flex-col lg:justify-center m-2 p-3">
    <h1 class="hidden lg:block bg-gradient-to-r from-[#ffc456] to-[#36bed6] bg-clip-text tracking-tight text-transparent lg:font-bold lg:text-2xl lg:mb-3 lg:text-left">Sobre mi</h1>
    <p class="text-slate-300"> Hola! Mi nombre es Edgardo Silva  y soy Analista Programador Computacional / Desarrollador Web, 
      he tenido la oportunidad de trabajar en proyectos propios de desarrollo front-end, donde he adquirido una sólida comprensión 
      
    </p>
    <br/>
    <p class="text-slate-300">Cuento con experiencia previa en el campo de la salud ocupacional y seguridad industrial 
      lo que me ha brindado la opo
    </p>
  </article>
</section>



  