---
const { name, height, title } = Astro.props;
---
<section class={`lg:bg-white lg:bg-opacity-5 lg:backdrop-blur-xl h-[350px] lg:mt-0 p-2 shadow-[4.0px_8.0px_8.0px_rgba(0,0,0,0.25)] border border-cyan-600 flex flex-col justify-between w-full rounded-xl h-[${height}px] mt-5`}>
  <article class="p-8">
    <p class="text-slate-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sed, ullam obcaecati incidunt ad qui fugit nisi labore ea 
      veniam rem, eius vel hic pariatur numquam voluptate, quis 
      culpa nostrum at.
    </p>
    <br/>
    <p class="text-slate-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Sed, ullam obcaecati incidunt ad qui fugit nisi labore ea 
      veniam rem, eius vel hic pariatur numquam voluptate, quis 
      culpa nostrum at.
    </p>
  </article>
</section>
  
  