---
const { name, height, title } = Astro.props;
---

<section id="sobremi" class=" mx-auto ">
  <h1 class="text-[#ffc456] lg:font-bold text-4xl font-bold mb-10">Sobre mi</h1>
  <section class="flex items-center">
    <aricle>
      <p class="text-slate-300 text-[18px]"> 
        Mi nombre es Edgardo Silva, Ingeniero en Prevencion de Riesgos Laborales, 
        tras unos años ejerciendo, me pasé al mundo de la programación.
      </p>
      <br />
      <p class="text-slate-300 text-[18px]">
        Mi experiencia laboral en dicho rubro me ha permitido desarrollar habilidades 
        indispensables en cualquier ámbito como el trabajo en equipos, la <strong class=" text-orange-300">resolución de problemas</strong>,
        <strong class="text-orange-300">capacidad de análisis</strong>, <strong class="text-orange-300">toma de decisiones</strong> y <strong class="text-orange-300">adaptabilidad al cambio</strong>
      </p>
      <br />
      <p class="text-slate-300 text-[18px]">
        Tengo una sólida experiencia en el desarrollo de <strong class=" text-orange-300">aplicaciones web</strong>,
        trabajando en equipos multidisciplinarios y participando
        activamente en proyectos de código abierto. Además, he realizado
        diversos proyectos personales que demuestran mis habilidades
        técnicas y creativas, todos disponibles en mi portafolio
      </p>
    </aricle>
  </section>
</section>



  